*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    --accent-color: #DB1010;
}

ul,ol{
    list-style: none;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background:linear-gradient(90deg,#0000,#000E 70%, #000A 30%, #000E 20%),
    url(./stretched-1920-1080-1144287\ 1\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-blend-mode: darken;
}

header{
    height:117px;
}

.lista{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
    padding-right: 24px;
    font-size:30px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

.lista li{
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    padding: 0px 5px;
}

.lista li:hover{
    background-color: var(--accent-color);
    color: black;
}

.logo{
    padding-left: 38px;
    padding-top: 11px;
}

main{
    justify-content: center;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: #fff;
}

.container-content{
    padding-right: 173px;
    padding-bottom:160px;
}

.title-content{
    font-size: 180px;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 168px;
    color: var(--accent-color);

    
}

.text-content{
    width: 579px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

footer{
    display: flex;
    justify-content: center;
    height: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;


}

